@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
body {
	margin: 0;
}

a:-webkit-any-link {
	color: unset;
}

h3 {
	font-size: 1vw;
	font-weight: 900;
	color: rgb(233, 13, 13);
	font-family: "Oleo Script", cursive;
}
.MuiPaper-elevation1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.MuiGrid-container {
	align-items: center;
}
